/* ==========================================================================
   FOOTER   
   ========================================================================== */
footer {
    background: #121f25;
    box-shadow: 0px -6px 13px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 0;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .infos {
        a {
            font-size: 1rem;
            letter-spacing: normal;
            color: var(--color-white);
            display: block;

            &:first-child {
                margin-bottom: 10px;
            }
        }

        svg {
            margin-right: 10px;
        }
    }

    .credit {
        font-size: 0.875rem;
        letter-spacing: normal;
    }

    @media screen and (max-width: $breakpoint-sm) {
        .wrapper {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .infos {
            a {
                font-size: 0.875rem;
            }
        }
        .credit {
            margin-top: 10px;
        }
    }
}
