/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    font-weight: 300;
    color: var(--color-white);
    margin-top: 30px;

    .wrapper {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        position: relative;
        padding: 7px 30px 7px 0;
        &::before {
            content: '';
            width: 180px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            border-top: var(--color-primary) 1px solid;
            border-right: var(--color-primary) 1px solid;
            border-bottom: var(--color-primary) 1px solid;
        }
        .nav-is-active & {
            z-index: 2;
            position: relative;
        }

        @media screen and (max-width: 1366px) {
            font-size: 1rem;
            &::before {
                width: 140px;
                height: 35px;
                position: absolute;
                top: 0;
                right: 0;
                border-top: var(--color-primary) 1px solid;
                border-right: var(--color-primary) 1px solid;
                border-bottom: var(--color-primary) 1px solid;
            }
        }
    }
    ul {
        list-style: none;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .desktop {
        display: flex;
        li {
            text-align: center;
            margin: 10px;
            width: 90px;
            a {
                color: rgba($color: #fff, $alpha: 0.8);
                transition: 0.3s ease-in-out;
                &:hover {
                    transition: 0.3s ease-in-out;
                    letter-spacing: 0.2rem;
                    color: #fff;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
        @media screen and (max-width: 1366px) {
            // display: none;
            display: flex;
            flex-direction: column;
            position: fixed;
            height: 100vh;
            width: 100vw;
            top: 0;
            left: 0;
            z-index: 1;
            justify-content: center;
            align-items: center;
            background-color: var(--color-bg-primary);
            transform: translateY(-100%);
            transition: all 0.3s ease-out;
        }

        .nav-is-active & {
            transform: translateY(0);
            transition: all 0.3s ease-out;

            li:last-child {
                margin: 10px;
            }
        }
    }
    .responsive {
        display: none;
        @media screen and (max-width: 1366px) {
            display: block;
        }

        .nav-is-active & {
            z-index: 2;
            position: relative;
        }
    }
}
