/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    font-weight: 300;
    color: var(--color-white);
    .wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }
    .logo {
        text-transform: uppercase;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        position: relative;
        padding: 7px 30px 7px 0;
        &::before {
            content: '';
            width: 180px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 0;
            border-top: var(--color-primary) 1px solid;
            border-right: var(--color-primary) 1px solid;
            border-bottom: var(--color-primary) 1px solid;
        }
    }
    ul {
        list-style: none;
        font-size: 0.875rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
    }

    .desktop {
        display: flex;
        li {
            text-align: center;
            margin: 10px;
            transition: 0.3s ease-in-out;
            width: 90px;
            a {
                color: rgba($color: #fff, $alpha: 0.8);
            }
            &:hover {
                transition: 0.3s ease-in-out;
                letter-spacing: 0.2rem;
                a {
                    color: #fff;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .responsive {
        display: none;
    }
}
