.masa {
    .infos {
        display: flex;
        align-items: center;
        img {
            max-width: 860px;
        }
        div {
            margin-right: 80px;
            p {
                max-width: 400px;
                margin: 20px 0;
                font-weight: 400;
                color: var(--color-white);
            }
        }
    }

    p {
        margin: 20px 0;
    }

    .description {
        max-width: 570px;
    }

    .logiciels {
        width: 560px;
        margin-top: 150px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin: 120px 0;
    }
}
