/* ==========================================================================
   PROJETS
   ========================================================================== */
.projets {
    width: 100vw;
    height: 80vh;

    &::before {
        z-index: -1;
        position: absolute;
        top: 0;
        right: 0;
        content: '';
        width: 930px;
        height: 28%;
        border-left: #957e69 1px solid;
        border-bottom: #957e69 1px solid;
    }
    .wrapper {
        height: 100%;
        max-width: 100vw;
        width: 100vw;
        display: flex;
        scroll-behavior: smooth;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* iOS Safari */

        &::-webkit-scrollbar {
            display: none;
        }

        .hero,
        .projet {
            scroll-snap-align: center;
        }

        &::before {
            position: absolute;
            bottom: 2%;
            left: 50%;
            content: 'Scroll >>';
            text-transform: uppercase;
            opacity: 25%;
        }
    }

    .hero {
        min-width: fit-content;
        margin-left: var(--spacing-xl);
        position: relative;
        h1 {
            padding: 115px 0 0 150px;
        }
        &::before {
            z-index: -1;
            position: absolute;
            top: 300px;
            left: 0;
            content: '';
            width: 400px;
            height: 330px;
            background-color: var(--color-bg-dark);
            box-shadow: -30px 30px 30px 0 rgba($color: #000000, $alpha: 0.25)
                inset;
        }
        &::after {
            position: absolute;
            top: 480px;
            left: 300px;
            content: '';
            width: 340px;
            height: 200px;
            background-color: rgba($color: #fff, $alpha: 0.2);
            box-shadow: -30px 30px 30px 0 rgba($color: #000, $alpha: 0.25);
            backdrop-filter: blur(5.5px);
        }
    }

    img {
        box-shadow: -30px 30px 30px 0 rgba($color: #000, $alpha: 0.25);
    }

    .projet {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 100vw;

        .text {
            padding-right: 100px;

            p:last-of-type {
                max-width: 300px;
                margin: 50px 0;
                font-weight: 400;
                color: var(--color-white);
            }
        }
    }

    & + footer {
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    .active {
        scroll-snap-type: none;
    }

    /* ============================ Responsive ============================= */
    @media screen and (max-width: $breakpoint-lg) {
        .hero {
            margin-left: var(--spacing-lg);
            margin-right: 200px;
            h1 {
                padding: 115px 0 0 150px;
            }
            &::before {
                top: 280px;
                left: 0;
                width: 350px;
                height: 230px;
            }
            &::after {
                top: 380px;
                left: 250px;
                content: '';
                width: 250px;
                height: 150px;
            }
        }
        img {
            height: 475px;
            width: auto;
        }

        .projet {
            .text {
                p:last-of-type {
                    margin: 30px 0;
                }
            }
        }
    }

    @media screen and (max-width: $breakpoint-sm) {
        &::before {
            display: none;
        }
        .wrapper {
            height: 100%;
            max-width: 100vw;
            width: 100vw;
            padding-bottom: 100px;
            display: flex;
            flex-direction: column;
            overflow-x: hidden;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }

            .hero,
            .projet {
                scroll-snap-align: none;
            }

            &::before {
                display: none;
            }
        }
        .hero {
            margin-left: var(--spacing-sm);
            h1 {
                padding: 80px 0 0 20px;
            }
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
        }
        img {
            height: auto;
            width: 90%;
            order: 1;
        }

        .projet {
            flex-direction: column;
            align-items: start;
            margin: 50px 20px;
            .text {
                order: 2;
                margin-top: 30px;
                padding: 0;
                p:last-of-type {
                    margin: 30px 0;
                }
            }
        }
        .projet1 {
            margin-top: 50px;
        }
    }
}
