/* ==========================================================================
   scrolly / component
   ========================================================================== */

.has-js {
    [data-scrolly='fromBottom'] {
        opacity: 0;
        transform: translateY(60px);
        transition: all 0.4s ease-out;

        &.is-active {
            opacity: 1;
            transform: translateY(0);
        }
    }

    [data-scrolly='fromLeft'] {
        opacity: 0;
        transform: translateX(-60px);
        transition: all 0.4s ease-out;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='fromRight'] {
        opacity: 0;
        transform: translateX(60px);
        transition: all 0.4s ease-out;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='scaleDown'] {
        transform: scale(1.1);
        transition: all 1s ease-out;

        &.is-active {
            transform: scale(1);
        }
    }

    [data-scrolly='opacity'] {
        opacity: 0;
        transition: all 1s ease-out;

        &.is-active {
            opacity: 1;
        }
    }

    [data-scrolly='accueil1'] {
        opacity: 0;
        transform: translateX(-50%);
        transition: all 1s 0.5s ease-out;

        &.is-active {
            opacity: 1;
            transform: translateX(0);
        }
    }

    [data-scrolly='accueil2'] {
        opacity: 0;
        transition: all 1s 1.5s ease-out;

        &.is-active {
            opacity: 1;
        }
    }
}
