.pro {
    &::after {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 150px;
        height: 800px;
        border-right: var(--color-primary) 1px solid;
        border-bottom: var(--color-primary) 1px solid;
    }

    h1 {
        padding: 250px 150px 0 150px;
        position: relative;
        width: fit-content;
        margin-bottom: 150px;

        &::before {
            position: absolute;
            top: 215px;
            right: -350px;
            content: '';
            width: 375px;
            height: 200px;
            background-color: var(--color-bg-dark);
            box-shadow: -30px 30px 30px 0 rgba($color: #000000, $alpha: 0.25)
                inset;
        }
        &::after {
            position: absolute;
            top: 50px;
            right: -150px;
            content: '';
            width: 250px;
            height: 200px;
            background-color: rgba($color: #fff, $alpha: 0.2);
            box-shadow: -30px 30px 30px 0 rgba($color: #000, $alpha: 0.25);
            backdrop-filter: blur(5.5px);
        }
    }
    .infos {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            max-width: 860px;
            box-shadow: -30px 30px 30px 0 rgba($color: #000, $alpha: 0.25);
        }
        div {
            margin-right: 80px;
            p {
                max-width: 400px;
                margin: 20px 0;
                font-weight: 400;
                color: var(--color-white);
            }
        }
    }

    p {
        margin: 20px 0;
    }

    .description {
        max-width: 570px;
    }

    .logiciels {
        width: 560px;
        margin-top: 150px;
    }

    .processus {
        max-width: 560px;
        margin-top: 150px;
    }

    .container {
        display: flex;
        justify-content: space-between;
        margin: 120px 0;
        position: relative;

        img {
            margin-top: 100px;
            margin-left: -90px;
            // position: absolute;
            // top: 450px;
            // left: -90px;
        }
    }

    .tab {
        max-width: 1010px;
        margin: 0 auto;
        align-items: center;
        display: flex;
        justify-content: space-between;

        .tab_menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            .tab-button {
                cursor: pointer;
                width: fit-content;
                background: none;
                border: none;
                text-transform: uppercase;
                padding: 10px 20px;
                font-size: 2rem;
                opacity: 0.3;
                color: var(--color-white);
                border-bottom: 1px solid var(--color-white);
            }
            .is-active {
                font-size: 3rem;
                opacity: 1;
            }
        }

        .tab_container {
            position: relative;
            width: 750px;
            height: 470px;
            margin: 40px 0 100px 0;

            .tab_contenu {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                opacity: 0.3;
            }

            .is-active {
                z-index: 1;
                opacity: 1;
                margin: 40px;
            }
        }
    }
}

/* ============================ ATYS ============================= */
.atys {
    h1 {
        &::before {
            right: -500px;
        }
        &::after {
            right: -300px;
        }
    }
}

/* ============================ MASA ============================= */
.masa {
    h1 {
        padding: 250px 150px 0 150px;
        position: relative;
        width: fit-content;
        margin-bottom: 150px;

        &::before {
            right: -300px;
        }
        &::after {
            right: -150px;
            width: 330px;
        }
    }
    .container {
        img {
            position: absolute;
            bottom: -80px;
            left: 0;
        }
    }
}

/* ============================ Lescott ============================= */
.lescott {
    h1 {
        line-height: 0.9;
        &::before {
            right: -300px;
            height: 250px;
        }
        &::after {
            width: 280px;
        }
    }
    .container {
        img {
            position: absolute;
            bottom: -80px;
            left: 0;
        }
    }
}
