/* ==========================================================================
   BODY / ELEMENT
   ========================================================================== */

body {
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    font-weight: 300;
    color: rgba($color: #f2f4f3, $alpha: 0.8);
    line-height: 130%;
    background-color: var(--color-bg-primary);
    letter-spacing: 0.1rem;
    &::-webkit-scrollbar {
        display: none;
    }
    @media screen and (max-width: $breakpoint-lg) {
        font-size: 1.125rem;
    }
    @media screen and (max-width: $breakpoint-sm) {
        font-size: 1rem;
    }
}

.logiciels {
    ul {
        margin-top: 50px;
        list-style: none;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;

        li {
            display: flex;
            justify-content: space-between;
            padding: 35px 50px;
            border-top: var(--color-primary) 1px solid;

            &:last-child {
                border-bottom: var(--color-primary) 1px solid;
            }

            .langages {
                font-size: 1.25rem;
            }
        }

        @media screen and (max-width: $breakpoint-lg) {
            font-size: 1.25rem;
            li {
                &:last-child {
                    border-bottom: var(--color-primary) 1px solid;
                }
                .langages {
                    font-size: 1rem;
                }
            }
        }
        @media screen and (max-width: $breakpoint-sm) {
            font-size: 1rem;
            li {
                padding: 20px 30px;

                &:last-child {
                    border-bottom: var(--color-primary) 1px solid;
                }
                .langages {
                    font-size: 0.875rem;
                }
            }
        }
    }
}
