/* ==========================================================================
   BODY / ELEMENT
   ========================================================================== */

body {
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    font-weight: 300;
    color: rgba($color: #f2f4f3, $alpha: 0.8);
    line-height: 130%;
    background-color: var(--color-bg-primary);
    letter-spacing: 0.1rem;
}

.logiciels {
    ul {
        margin-top: 50px;
        list-style: none;
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: uppercase;

        li {
            display: flex;
            justify-content: space-between;
            padding: 35px 50px;
            border-top: var(--color-primary) 1px solid;

            &:last-child {
                border-bottom: var(--color-primary) 1px solid;
            }

            .langages {
                font-size: 1.25rem;
            }
        }
    }
}
