/* ==========================================================================
   BODY / ELEMENT
   ========================================================================== */

body {
    font-family: var(--font-secondary);
    font-size: var(--font-size-content);
    font-weight: 300;
    color: rgba($color: #f2f4f3, $alpha: 0.8);
    line-height: 130%;
    background-color: var(--color-bg-primary);
    letter-spacing: 0.1rem;
}
