/* ==========================================================================
   HEADINGS / ELEMENT
   ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    line-height: 1;
    font-weight: 400;
    margin: 0;
    color: var(--color-white);
}

h1 {
    font-size: var(--font-size-h1);
    line-height: 0.8;
}

h2 {
    font-size: var(--font-size-h2);
    text-transform: uppercase;
    letter-spacing: 1.8px;
    line-height: normal;
}

h3 {
    font-size: var(--font-size-h3);
    letter-spacing: 4px;
}

h4 {
    font-family: var(--font-secondary);
    font-size: var(--font-size-h4);
    font-weight: 500;
    letter-spacing: normal;
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h6);
}
