/* ==========================================================================
   WRAPPER / ELEMENT
   ========================================================================== */

.wrapper {
    max-width: 1460px;
    width: calc(100% - var(--spacing-xl));
    margin: 0 auto;
    position: relative;

    @media screen and (max-width: $breakpoint-lg) {
        width: calc(100% - var(--spacing-lg));
    }
    @media screen and (max-width: $breakpoint-sm) {
        width: calc(100% - var(--spacing-sm));
    }
}
