/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #f2f4f3;
    --color-black: #0a0908;

    // Couleurs du projet
    --color-primary: #a9927d;
    --color-secondary: #5e503f;
    --color-opacity: rgba($color: #fff, $alpha: 0.8);

    --color-bg-primary: #22333b;
    --color-bg-dark: #182931;
}
