/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #758a82;
    --color-secondary: #4d625a;
    --color-tertiary: #363430;
    --color-quaternary: #434240;

    --color-neutral-light: #fff;
    --color-neutral-dark: #2e2f2f;

    --color-fail: #f6511d;
}
