{% include '_partials/_header.html' with { title: 'Atys' } %}

<div class="pro atys">
    <div class="wrapper">
        <div class="hero">
            <h1>Atys</h1>
        </div>
        <div class="infos">
            <div>
                <h2>Projet scolaire</h2>
                <p>Design d'une application de type revue</p>
                <a
                    href="https://www.figma.com/proto/kc1ZJzPXztgid7pbg9J7GY/A2021_1011_dupont_carolane_TP2?type=design&node-id=1895-4&t=2ppqx7CZJIlhpSev-1&scaling=min-zoom&page-id=1895%3A3&mode=design"
                    target="_blank"
                    class="button"
                    >Prototypage</a
                >
            </div>
            <img src="assets/images/atys.jpg" alt="Édition astrologie chinoise" />
        </div>
        <div class="container">
            <div>
                <div class="description">
                    <h3>Description</h3>
                    <p>
                        Pour ce projet, il fallait concevoir une landing page afin de présenter un produit. Cette page
                        devait comporter plusieurs sections pour mettre en avant la marque et détailler le produit.
                    </p>
                </div>
                <div class="palette">
                    <div class="cercle cercle1"></div>
                    <div class="cercle cercle2"></div>
                    <div class="cercle cercle3"></div>
                    <div class="cercle cercle4"></div>
                </div>
            </div>
            <div>
                <div class="logiciels">
                    <h3>Logiciels et langages</h3>
                    <ul>
                        <li>Figma</li>
                    </ul>
                </div>
                <div class="processus">
                    <h3>Processus</h3>
                    <p>
                        En premier lieu, j'ai choisi le sujet de mon projet, c'est-à-dire le produit à présenter.
                        Ensuite, j'ai créé un moodboard et un wireframe. Puis, j'ai réalisé l'interface et le
                        prototypage.
                    </p>
                </div>
            </div>
        </div>
        <div class="images">
            <img src="assets/images/atys_wireframe.jpg" alt="Wireframe" />
            <img src="assets/images/atys_maquette.jpg" alt="Maquette finale" />
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
