{% include '_partials/_header.html' with { title: 'Le scott' } %}

<div class="pro lescott">
    <div class="wrapper">
        <div class="hero">
            <h1>Hébergement<br />Le scott</h1>
        </div>
        <div class="infos">
            <div>
                <h2>Projet scolaire</h2>
                <p>Refonte d'un site web en HTML, CSS et JavaScript.</p>
                <a
                    href="https://www.figma.com/proto/kc1ZJzPXztgid7pbg9J7GY/A2021_1011_dupont_carolane_TP2?type=design&node-id=1895-4&t=2ppqx7CZJIlhpSev-1&scaling=min-zoom&page-id=1895%3A3&mode=design"
                    target="_blank"
                    class="button"
                    >Voir +</a
                >
            </div>
            <img src="assets/images/lescott.jpg" alt="Page accueil Hébergement Le scott" />
        </div>
        <div class="container">
            <div>
                <div class="description" data-scrolly="fromBottom">
                    <h3>Description</h3>
                    <p>
                        Ce projet scolaire est une refonte d’un site web existant, réalisé en équipe. Notre groupe était
                        composé de trois personnes, et notre objectif était de concevoir un nouveau design et de
                        l'intégrer en HTML et CSS.
                    </p>
                </div>
                <img src="assets/images/lescott_responsive.png" alt="Interface responsive" />
            </div>
            <div>
                <div class="logiciels" data-scrolly="fromBottom">
                    <h3>Logiciels et langages</h3>
                    <ul>
                        <li>Figma</li>
                        <li>Visual Studio Code</li>
                    </ul>
                </div>
                <div class="processus" data-scrolly="fromBottom">
                    <h3>Processus</h3>
                    <p>
                        Premièrement, j'ai conçu le design de la page d'accueil. Une fois approuvé par le client fictif,
                        chaque membre de l'équipe devait prendre en charge une partie spécifique. Dans mon cas, j'étais
                        responsable de la page d'accueil ainsi que de la page "Tarifs".
                    </p>
                </div>
            </div>
        </div>
        <div class="transfo">
            <div class="avant">
                <h3>Avant</h3>
                <div data-scrolly="opacity">
                    <img src="assets/images/lescott_avant1.jpg" alt="" />
                    <img src="assets/images/lescott_avant2.jpg" alt="" />
                </div>
            </div>
            <div class="apres">
                <h3>Après</h3>
                <div data-scrolly="opacity">
                    <img src="assets/images/lescott_apres1.jpg" alt="" />
                    <img src="assets/images/lescott_apres2.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="credit" data-scrolly="fromBottom">
            <h4>Crédits</h4>
            <p><span>Contenu et images : </span>Hébergement Le scott</p>
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
