{% include '_partials/_header.html' with { title: 'Planification MASA' } %}

<div class="masa">
    <div class="wrapper">
        <div class="hero">
            <h1>Planification<br />MASA</h1>
        </div>
        <div class="infos">
            <div>
                <h2>Projet professionel, réalisé sous contrat</h2>
                <p>Design et développement d’un site web HTML/CSS pour un client</p>
                <a href="https://planificationmasa.ca/" target="_blank" class="button">Visiter le site web</a>
            </div>
            <img src="assets/images/masa.jpg" alt="Site web Planification MASA" />
        </div>
        <div class="container">
            <div class="description">
                <h3>Description</h3>
                <p>
                    Ce projet a été réalisé pour l'entreprise Planification MASA, une entreprise de gestion funéraire
                    qui accompagne ses clients pour les guider dans un processus complexe à la suite d'un décès.
                </p>
                <p>
                    L'objectif était de refléter leur image à travers un site web en intégrant non seulement leur guide
                    de style, mais aussi leurs caractéristiques distinctives. De plus, j'ai assuré un suivi régulier
                    avec le client pour m'assurer que tout correspondait à leurs besoins.
                </p>
            </div>
            <div class="logiciels">
                <h3>Logiciels et langages</h3>
                <ul>
                    <li>Figma</li>
                    <li>Visual Studio Code</li>
                </ul>
            </div>
        </div>
        <div class="container">
            <img src="" alt="" />
            <div class="processus">
                <h3>Processus</h3>
                <p>
                    Pour commencer, j’ai fait plusieurs essais pour le type de design. Une fois le style trouvé, j’ai
                    ajouter des images pour représenter chaque section.
                </p>
                <p>
                    Ensuite, je suis passée à l’intégration où j’ai réalisé le responsive. Puis j’ai complété par
                    quelques animations pour le menu et les liens.
                </p>
            </div>
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
