{% include '_partials/_header.html' with { title: 'Moonlight' } %}

<div class="pro moonlight">
    <div class="wrapper">
        <div class="hero">
            <h1 data-scrolly="opacity">Moonlight</h1>
        </div>
        <div class="infos" data-scrolly="opacity">
            <div>
                <h2>Projet scolaire</h2>
                <p>Design d'une application de type revue</p>
                <a
                    href="https://www.figma.com/proto/c88CuaulT5Yw5Ra35iom1s/TP3---Dupont-Carolane---1011?type=design&node-id=826-944&t=OY106Y3O2EFyGmqg-1&scaling=min-zoom&page-id=87%3A5454&starting-point-node-id=826%3A944&mode=design"
                    target="_blank"
                    class="button"
                    >Prototypage</a
                >
            </div>
            <img src="assets/images/moonlight.jpg" alt="Édition astrologie chinoise" />
        </div>
        <div class="container">
            <div>
                <div class="description" data-scrolly="fromBottom">
                    <h3>Description</h3>
                    <p>
                        Moonlight est un projet de design réalisé dans le cadre d'un cours. Il s'agit d'une application
                        permettant de partager des articles, à la manière d'une revue en ligne, avec pour thème
                        l'astrologie.
                    </p>
                    <p>
                        J'ai dû créer une édition comprenant plusieurs articles. L'application devait inclure plusieurs
                        pages, notamment celles de démarrage, de connexion, de paramètres, ainsi qu'une page "À propos".
                    </p>
                </div>
                <div class="structure" data-scrolly="fromBottom">
                    <h3>Structure de fichier</h3>
                    <img src="assets/images/moonlight_structure.png" alt="Structure" />
                </div>
            </div>
            <div>
                <div class="logiciels" data-scrolly="fromBottom">
                    <h3>Logiciels et langages</h3>
                    <ul>
                        <li>Figma</li>
                    </ul>
                </div>
                <div class="processus" data-scrolly="fromBottom">
                    <h3>Processus</h3>
                    <p>
                        Tout d'abord, j'ai effectué des recherches sur le thème de l'astrologie pour le représenter de
                        manière adéquate. Ensuite, j'ai conçu les wireframes de toutes les pages, puis j'ai appliqué les
                        styles et ajouté le contenu. Enfin, j'ai réalisé le prototypage du design.
                    </p>
                </div>
                <img data-scrolly="opacity" class="mockup" src="assets/images/moonlight_mockup.png" alt="" />
            </div>
        </div>
        <div class="credit" data-scrolly="fromBottom">
            <h4>Crédits</h4>
            <p><span>Textes : </span>voyageschine.com</p>
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
