{% include '_partials/_header.html' with { title: 'Moonlight' } %}

<div class="masa">
    <div class="wrapper">
        <div class="hero">
            <h1>Moonlight</h1>
        </div>
        <div class="infos">
            <div>
                <h2>Projet scolaire</h2>
                <p>Design d'une application de type revue</p>
                <a href="https://planificationmasa.ca/" target="_blank" class="button">Visiter le site web</a>
            </div>
            <img src="assets/images/moonlight.jpg" alt="Édition astrologie chinoise" />
        </div>
        <div class="container">
            <div>
                <div class="description">
                    <h3>Description</h3>
                    <p>
                        Moonlight est un projet de design réalisé dans le cadre d'un cours. Il s'agit d'une application
                        permettant de partager des articles, à la manière d'une revue en ligne, avec pour thème
                        l'astrologie.
                    </p>
                    <p>
                        J'ai dû créer une édition comprenant plusieurs articles. L'application devait inclure plusieurs
                        pages, notamment celles de démarrage, de connexion, de paramètres, ainsi qu'une page "À propos".
                    </p>
                </div>
                <img src="assets/images/masa_responsive.jpg" alt="Interface responsive" />
            </div>
            <div>
                <div class="logiciels">
                    <h3>Logiciels et langages</h3>
                    <ul>
                        <li>Figma</li>
                    </ul>
                </div>
                <div class="processus">
                    <h3>Processus</h3>
                    <p>
                        Tout d'abord, j'ai effectué des recherches sur le thème de l'astrologie pour le représenter de
                        manière adéquate. Ensuite, j'ai conçu les wireframes de toutes les pages, puis j'ai appliqué les
                        styles et ajouté le contenu. Enfin, j'ai réalisé le prototypage du design.
                    </p>
                </div>
            </div>
        </div>
        <div class="tab">
            <div class="tab_menu">
                <button class="tab-button">html</button>
                <button class="tab-button is-active">css</button>
            </div>
            <div class="tab_container">
                <div class="tab_contenu">
                    <img src="assets/images/masa_html.jpg" alt="HTML MASA" />
                </div>
                <div class="tab_contenu is-active">
                    <img src="assets/images/masa_css.jpg" alt="CSS MASA" />
                </div>
            </div>
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
