{% include '_partials/_header.html' with { title: 'Projets' } %}
<div class="projets">
    <div class="wrapper" data-component="Scrollx">
        <div class="hero">
            <h1 data-scrolly="h1">Mes<br />projets</h1>
        </div>
        <div class="projet projet1" data-scrolly="opacity">
            <div class="text">
                <p class="type">Projet professionel</p>
                <h2>Planification<br />masa</h2>
                <p>Design et développement d'un site web HTML/CSS pour un client.</p>
                <a class="button" href="masa.html">Voir +</a>
            </div>
            <img src="assets/images/masa.jpg" alt="Site web Planification MASA" />
        </div>
        <div class="projet">
            <div class="text">
                <p class="type">Projet scolaire</p>
                <h2>Atys</h2>
                <p>Design d'une page web présentant un produit.</p>
                <a class="button" href="atys.html">Voir +</a>
            </div>
            <img src="assets/images/atys.jpg" alt="" />
        </div>
        <div class="projet">
            <div class="text">
                <p class="type">Projet scolaire</p>
                <h2>Moonlight</h2>
                <p>Design d'une application de type revue.</p>
                <a class="button" href="moonlight.html">Voir +</a>
            </div>
            <img src="assets/images/moonlight.jpg" alt="" />
        </div>
        <div class="projet">
            <div class="text">
                <p class="type">Projet scolaire</p>
                <h2>Recettes<br />en pot</h2>
                <p>Refonte d'un site web en HTML, CSS et JavaScript.</p>
                <a class="button" href="recettes.html">Voir +</a>
            </div>
            <img src="assets/images/recettepot.jpg" alt="" />
        </div>
        <div class="projet">
            <div class="text">
                <p class="type">Projet scolaire</p>
                <h2>Hébergement<br />Le Scott</h2>
                <p>Refonte d'un site web en HTML, CSS et JavaScript.</p>
                <a class="button" href="hebergement.html">Voir +</a>
            </div>
            <img src="assets/images/lescott.jpg" alt="" />
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
