{% include '_partials/_header.html' with { title: 'Projets' } %}
<div class="projets" data-component="Scrollx">
    <div class="wrapper">
        <div class="hero">
            <h1>Mes<br />projets</h1>
        </div>
        <section>
            <div class="projet">
                <div class="text">
                    <p class="type">Projet scolaire</p>
                    <h2>Atys</h2>
                    <p>Design d'une page web présentant un produit</p>
                    <div class="button"><a href="#">Voir +</a></div>
                </div>
                <img src="assets/images/atys.jpg" alt="" />
            </div>
            <div class="projet">
                <div class="text">
                    <p class="type">Projet professionel</p>
                    <h2>Planification<br>masa</h2>
                    <p>Design et développement d'un site web HTML/CSS pour un client</p>
                    <div class="button"><a href="masa.html">Voir +</a></div>
                </div>
                <img src="assets/images/masa.jpg" alt="" />
            </div>
            <div class="projet">
                <div class="text">
                    <p class="type">Projet scolaire</p>
                    <h2>Hébergement<br>Le Scott</h2>
                    <p>Refonte d'un site web en PHP avec Wordpress</p>
                    <div class="button"><a href="#">Voir +</a></div>
                </div>
                <img src="assets/images/" alt="" />
            </div>
            <div class="projet">
                <div class="text">
                    <p class="type">Projet scolaire</p>
                    <h2>Moonlight</h2>
                    <p>Design d'une application de type revue</p>
                    <div class="button"><a href="#">Voir +</a></div>
                </div>
                <img src="assets/images/" alt="" />
            </div>
            <div class="projet">
                <div class="text">
                    <p class="type">Projet scolaire</p>
                    <h2>Recette<br>en pot</h2>
                    <p>Refonte d'un site web en HTML/CSS/JS</p>
                    <div class="button"><a href="#">Voir +</a></div>
                </div>
                <img src="assets/images/" alt="" />
            </div>
        </section>
        </div>
    </div>
</div>
{% include '_partials/_footer.html' %}