{% include '_partials/_header.html' with { title: 'À propos' } %}
<div class="propos">
        <ul class="reseaux">
            <li>
                <a href="https://www.linkedin.com/in/carolane-dupont-70b30a250/" target="_blank">
                    <svg class="icon">
                        <use xlink:href="#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://github.com/carolaned" target="_blank">
                    <svg class="icon icon-">
                        <use xlink:href="#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/carolanedupont/" target="_blank">
                    <svg class="icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <div class="wrapper">
            <div class="hero">
                <h1>À<br />propos</h1>
                <h2>Développeuse web<br />et designer graphique</h2>
                <div class="cube"></div>
                <img src="assets/images/img_propos.jpg" alt="Photo de moi" />
            </div>
            <section>
                <div class="personalite">
                    <p>
                        Je suis une personne organisée, méticuleuse et ponctuelle. Plus jeune, j’étais déjà attirée par tout ce qui
                        se rapporte au design. J’adore l’art en général, et depuis que j’ai découvert la programmation,
                        je suis fascinée par la façon dont on peut combiner les deux.
                    </p>
                </div>
                <div>
                    <div class="logiciels">
                        <h3>Logiciels et langages</h3>
                        <ul>
                            <li>Figma</li>
                            <li><span>Visual Studio Code</span><span class="langages">html, css, js</span></li>
                            <li><span>Wordpress</span><span class="langages">php</span></li>
                            <li>Photoshop</li>
                        </ul>
                    </div>
                    <div class="competences">
                        <p>
                            Je suis présentement en dernière année au cégep et je suis enthousiaste à l'idée de mettre
                            en pratique mes compétences en <span>développement web</span> et en <span>design</span> lors
                            de mon stage à venir.
                        </p>
                        <p>
                            Ce que je recherche avant tout, c'est un environnement propice à l'apprentissage et à
                            l'évolution professionnelle. Je souhaite contribuer à des projets concrets, développer mes
                            compétences techniques et créatives, tout en collaborant avec une équipe passionnée.
                        </p>
                        <p>- Carolane Dupont</p>
                    </div>
                </div>
        </div>
    </section>
</div>
{% include '_partials/_footer.html' %}
