{% include '_partials/_header.html' with { title: 'Recettes en pot' } %}

<div class="pro recettes">
    <div class="wrapper">
        <div class="hero">
            <h1>Recettes<br />en pot</h1>
        </div>
        <div class="infos">
            <div>
                <h2>Projet scolaire</h2>
                <p>Refonte d'un site web en HTML, CSS et JavaScript.</p>
                <a
                    href="https://www.figma.com/proto/kc1ZJzPXztgid7pbg9J7GY/A2021_1011_dupont_carolane_TP2?type=design&node-id=1895-4&t=2ppqx7CZJIlhpSev-1&scaling=min-zoom&page-id=1895%3A3&mode=design"
                    target="_blank"
                    class="button"
                    >Voir +</a
                >
            </div>
            <img src="assets/images/recettepot.jpg" alt="Édition astrologie chinoise" />
        </div>
        <div class="container">
            <div>
                <div class="description">
                    <h3>Description</h3>
                    <p>
                        <em>Recettes en pot</em> est un projet de design et d'intégration web, axé sur la refonte d'un
                        site web existant. Le défi était de respecter la charte graphique fournie tout en créant une
                        toute nouvelle interface regroupant plusieurs pages.
                    </p>
                </div>
                <img src="assets/images/masa_responsive.jpg" alt="Interface responsive" />
            </div>
            <div>
                <div class="logiciels">
                    <h3>Logiciels et langages</h3>
                    <ul>
                        <li>Figma</li>
                        <li>Visual Studio Code</li>
                    </ul>
                </div>
                <div class="processus">
                    <h3>Processus</h3>
                    <p>
                        Dans un premier temps, j'ai développé le design en suivant les directives de la charte graphique
                        fournie. Une fois le design finalisé, j'ai effectué son intégration en utilisant HTML, CSS et
                        JavaScript.
                    </p>
                </div>
            </div>
        </div>
        <img class="structure" src="assets/images/recette_structure.png" alt="Structure" />
    </div>
</div>

{% include '_partials/_footer.html' %}
