{% include '_partials/_header.html' with { title: 'Recettes en pot' } %}

<div class="pro recettes">
    <div class="wrapper">
        <div class="hero">
            <h1>Recettes<br />en pot</h1>
        </div>
        <div class="infos">
            <div>
                <h2>Projet scolaire</h2>
                <p>Refonte d'un site web en HTML, CSS et JavaScript.</p>
                <a
                    href="https://www.figma.com/proto/kc1ZJzPXztgid7pbg9J7GY/A2021_1011_dupont_carolane_TP2?type=design&node-id=1895-4&t=2ppqx7CZJIlhpSev-1&scaling=min-zoom&page-id=1895%3A3&mode=design"
                    target="_blank"
                    class="button"
                    >Voir +</a
                >
            </div>
            <img src="assets/images/recettepot.jpg" alt="Édition astrologie chinoise" />
        </div>
        <div class="container">
            <div>
                <div class="description" data-scrolly="fromBottom">
                    <h3>Description</h3>
                    <p>
                        <em>Recettes en pot</em> est un projet de design et d'intégration web, axé sur la refonte d'un
                        site web existant. Le défi était de respecter la charte graphique fournie tout en créant une
                        toute nouvelle interface regroupant plusieurs pages.
                    </p>
                </div>
                <div class="moodboard" data-scrolly="fromBottom">
                    <h3>Moodboard</h3>
                    <img src="assets/images/recette_moodboard.jpg" alt="Moodboard" />
                </div>
            </div>
            <div>
                <div class="logiciels" data-scrolly="fromBottom">
                    <h3>Logiciels et langages</h3>
                    <ul>
                        <li>Figma</li>
                        <li>Visual Studio Code</li>
                    </ul>
                </div>
                <div class="processus" data-scrolly="fromBottom">
                    <h3>Processus</h3>
                    <p>
                        Dans un premier temps, j'ai développé le design en suivant les directives de la charte graphique
                        fournie. Une fois le design finalisé, j'ai effectué son intégration en utilisant HTML, CSS et
                        JavaScript.
                    </p>
                </div>
            </div>
        </div>
        <div class="maquettes" data-scrolly="opacity">
            <h3>Maquettes</h3>
            <img class="structure" src="assets/images/recette_structure.png" alt="Structure" />
        </div>
        <div class="tab" data-component="Tabs" data-scrolly="opacity">
            <div class="tab_menu">
                <button class="tab-button js-tab" data-tab-id="html">html</button>
                <button class="tab-button is-active js-tab" data-tab-id="css">css</button>
            </div>
            <div class="tab_container">
                <div class="tab_contenu" data-tab-content-id="html">
                    <img src="assets/images/recette_html.jpg" alt="HTML MASA" />
                </div>
                <div class="tab_contenu is-active" data-tab-content-id="css">
                    <img src="assets/images/recette_css.jpg" alt="CSS MASA" />
                </div>
            </div>
        </div>
        <div class="credit" data-scrolly="fromBottom">
            <h4>Crédits</h4>
            <p><span>Contenu et images : </span>Recettes en pot</p>
        </div>
    </div>
</div>

{% include '_partials/_footer.html' %}
